.editPasswordTextField>li {
    list-style: none;
    margin-top: 20px;

}

.gokberk {
    padding: 0;
    margin: 100px 150px;
}

.visiblePassword {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.secretIcon {
    display: flex;
    align-items: center;
    text-align: center;
}

.secretIcon>p {
    margin: 4px 0 0 10px;
}



.password-icon {
    width: 40px;
    cursor: pointer;
}

/* .editPasswordTextField:nth-child(1),
.editPasswordTextField:nth-child(3),
.editPasswordTextField:nth-child(5) {
    display: flex;
} */